
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container p-3 m-3">
        <div class="form-control">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <label>Mail Adresinize gelen 6 haneli kodu giriniz</label>
                        <input type="text" class="form-control" />
                        <br />
                        <button class="btn btn-primary">Hesabı Aktifleştir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
