
@* <nav class="navbar navbar-expand-lg navbar-light p-4 text-white" style="background-color:#8B4513;">
    <a class="navbar-brand" href="#">Save The World</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item text-center">
                <a class="nav-link" href="#">Dünyayı Kurtar</a>
            </li>
            <li class="nav-item navbar-nav text-end">
                <a class="nav-link" href="/Login/Logout">Çıkış Yap</a>
            </li>
           
            
        </ul>

    </div>
</nav> *@
<nav class="navbar navbar-expand-lg navbar-light p-4 text-white" style="background-color:#8B4513">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Marka</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dünyayı Kurtar</a>
                </li>
                
               
                <!-- Diğer elemanlar -->
            </ul>
            <ul class="navbar-nav">
                <!-- Sağa yaslanacak elemanlar -->
                <li class="nav-item navbar-nav text-end">
                    <a class="nav-link" href="/Login/Index">Giriş Yap</a>
                </li>
                <li class="nav-item navbar-nav text-end">
                    <a class="nav-link btn btn-outline-danger" href="/Login/Logout">Çıkış Yap</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
