<div class="w3-sidebar w3-bar-block  p-3 mb-2 text-white" style="background-color:#DEB887;">
    <div >
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/Photos/bir.jpg" alt="" width="64" height="64" class="rounded-circle me-2">
            <br />
            
            <strong> @User.Identity.Name</strong>
        </a>
       
    </div>
    <hr />
    <a href="/RecycAbleMaterial/Index" class="w3-bar-item w3-button ">Ana Sayfayı Göster <i class="fa fa-home"></i></a>
    <hr />
    <a href="/RecycAbleMaterial/AddMaterial" class="w3-bar-item w3-button">Atık Ekle <i class="fa-plus-minus"></i></a>
    <hr />
    <a href="/RecycAbleMaterial/GetMaterialWithUserIdForDeletetwo" class="w3-bar-item w3-button">Atık Sil <i class="fa fa-search"></i></a>
    <hr />
    <a href="/RecycAbleMaterial/GetMaterialWithUserIdForUpdate" class="w3-bar-item w3-button">Atık Güncelle <i class="fa-solid fa-pen-clip"></i></a>
    <hr />
    <a href="/RecycAbleMaterial/MaterialsTeslimEdilen" class="w3-bar-item w3-button">Teslim Edilen Atıklar <i class="fa-solid fa-check-double"></i></a>
    <hr />
    <a href="/NormalUser/Index" class="w3-bar-item w3-button">Hesap bilgileri Güncelle</a>
    <hr />
   
    
</div>