@model AppUserRegisterDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MainLayout/Index.cshtml";
}

<h1>Index</h1>





    <div class="container">
        
        <form method="post" class="form-horizontal">
            <div class="form-group mt-3">
                <label class="control-label col-sm-2">Adınız:</label>
                <div class="col-sm-5">
                    <input type="text" asp-for="Name" class="form-control" placeholder="Adnınızı Giriniz">
                <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group mt-3">
                <label class="control-label col-sm-2">Soyadınız</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Surname" class="form-control" placeholder="Soyadınızı Giriniz">
                <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group mt-3">
                <label class="control-label col-sm-2">Kullanıcı Adınız</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Username" class="form-control" placeholder="Kullanızı Adını Giriniz">
                <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group mt-3">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" asp-for="EMail" class="form-control" placeholder="Emailinizi Giriniz">
                <span asp-validation-for="EMail" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group mt-3">
                <label class="control-label col-sm-2">Şifre:</label>
                <div class="col-sm-10">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Şifrenizi Giriniz">
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
        <div class="form-group mt-3">
                <label class="control-label col-sm-2">Şifre Tekrar:</label>
                <div class="col-sm-10">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Şifrenizi Giriniz">
                <div class="col-sm-10" asp-validation-summary="ModelOnly"> </div>
                </div>
            </div>

            

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                </div>
            </div>
        </form>
    </div>
@* 
</body>
</html> *@

