@model AppUserRegisterDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Easy Cash Kayıt Formu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Horizontal form</h2>
        <form method="post" class="form-horizontal" >
            <div class="form-group">
                <label class="control-label col-sm-2" >Adınız:</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Name" class="form-control"  placeholder="Adnınızı Giriniz" >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" >Soyadınız</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Surname" class="form-control" placeholder="Soyadınızı Giriniz" >
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" >Kullanıcı Adınız</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="Username" class="form-control" placeholder="Kullanızı Adını Giriniz">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input type="email" asp-for="EMail" class="form-control" placeholder="Emailinizi Giriniz">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Şifre:</label>
                <div class="col-sm-10">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Şifrenizi Giriniz">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Şifre Tekrar:</label>
                <div class="col-sm-10">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Şifrenizi Giriniz">
                </div>
            </div>
           
            <div class="form-group">
                <label class="control-label col-sm-2">Şifre Tekrar:</label>
                <div class="col-sm-10" asp-validation-summary="ModelOnly">
              
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" name="remember"> Remember me</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Kayıt Ol</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>

